{% extends "base.html" %}

{% block head %}
<script>
  function PrintElem(elem)
  {
      var mywindow = window.open('', 'PRINT', 'height=400,width=600');

      mywindow.document.write('<html><head><title></title>');
      mywindow.document.write(document.head.innerHTML);
      mywindow.document.write('</head><body>');
      mywindow.document.write(document.getElementById(elem).innerHTML);
      mywindow.document.write('</body></html>');

      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/

      mywindow.print();
      return true;
  }
</script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row mt-3">
        <div class="col-md-8">
          <h3>
            <div class="text-decoration-none text-dark">Dashboard Pedidos</div>
          </h3>
        </div>
      </div>
    </div>
  </div>
	<div class="row">
		<div class="col-md-8 mx-auto">
    {% for obj in object_list|dictsort:"status" %}
      {% ifchanged %}
      <h3>{{obj.get_status_display}}</h3>
      {% endifchanged %}
      <div class="card m-2">
        <div class="card-header">
          <div class="d-flex justify-content-end">
            <button onclick="PrintElem('card-{{obj}}')" class="btn btn-info mr-2">Imprimir</button>
            <a href="{% url 'pedidos_carrinho_status' obj %}" class="btn btn-warning">Avançar pedido</a>
          </div>
          <div class="d-flex flex-column justify-content-start" id="card-{{obj}}">
            <div class="d-flex align-items-start flex-column">
              <h5> <span class="badge badge-dark m-2"><h4>nº{{obj}}</h4></span> Pedido feito às: {{obj.created|date:"j/n H:i"}}</h5>
              <p class="lead">{{obj.nome}} - {{obj.telefone}}</p>
            </div>
            <ul class="list-group">
              {% for item in obj.item.all  %}
                <li class="list-group-item">
                  {{item.referenciaCardapio.nome}}
                  <span class="float-right ml-2">R${{item.get_valor_item}}</span>
                  {% if item.referenciaOpcionais %}
                  <ul class="list-group mt-1">
                    {% for opt in item.referenciaOpcionais.all  %}
                      <li class="list-group-item">{{opt.nome}}</li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                </li>
                {% endif %}
              {% endfor %}
            </ul>
            <h4 class="m-2">Total do pedido: R${{obj.get_valor_carrinho}}</h4>
          </div>
        </div>
      </div>
    {% endfor %}

		</div>
	</div>
</div>

{% endblock %}
