
{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row mt-3">
        <div class="col-md-8">
          <h3>
            <div class="text-decoration-none text-dark">Dashboard Pedidos</div>
          </h3>
        </div>
      </div>
    </div>
  </div>
	<div class="row">
		<div class="col-md-8 mx-auto">
    {% for obj in object_list|dictsort:"status" %}
      {% ifchanged %}
      <h3>{{obj.get_status_display}}</h3>
      {% endifchanged %}
      <div class="card m-2">
        <div class="card-header">
          <div class="d-flex float-right">
            <div><a href="{% url 'pedidos_carrinho_status' obj %}" class="btn btn-warning">Avançar pedido</a></div>
          </div>
          <div class="d-flex flex-column float-left">
            <div class="d-flex align-items-start flex-column">
              <h5>{{obj.last_updated|date:"j/n H:i"}}</h5>
              <p class="lead">{{obj.nome}} - {{obj.telefone}}</p>
            </div>
            <ul class="list-group">
              {% for item in obj.item.all  %}
                <li class="list-group-item">{{item.referenciaCardapio.nome}}
                {% if item.referenciaOpcionais %}
                  <ul class="list-group">
                    {% for opt in item.referenciaOpcionais.all  %}
                      <li class="list-group-item">{{opt.nome}}</li>
                    {% endfor %}
                  </ul>
                  </li>
                {% else %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}

		</div>
	</div>
</div>

{% endblock %}
