{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md m-2">
			<img alt="Logotipo Manada" class="img-fluid d-block mx-auto" src="{% static 'images/logo-500px.png' %}" />
		</div>
	</div>
	<div class="row">
		<div class="col m-2">
			<h3 class="text-center">
				Faça seu pedido pelo nosso cardápio virtual!
				<span class="lead mt-2">
					<br>Estamos abertos das 19:00 as 23:00 todos os dias
				</span>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col m-2 d-flex">
      <a class="mx-auto text-decoration-none btn btn-outline-info btn-lg" href="{% url 'pedidos_cardapio_list' %}">
				Cardápio
			</a>
		</div>
	</div>
	<div class="row p-3">
		<div class="col-sm">
			<h4 class="text-center">
				<br><strong>Av. Gilda Parente Grecco, 312 </strong>
				<small>
					<br>Jd. Altos de Santana II - Jacareí - Sp
				</small>
			</h4>
		</div>
	</div>
	<footer>
		<a class="btn btn-dark m-3" href="{% url 'pedidos_carrinho_list' %}">Administração</a>
	</footer>
</div>
<!-- <div class="m-2"><a class="btn btn-light" href="{% url 'pedidos_carrinho_list' %}">carrinho Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'pedidos_opcionais_list' %}">opcionais Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'pedidos_cardapio_list' %}">cardapio Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'pedidos_itemDoCarrinho_list' %}">itemDoCarrinho Listing</a></div> -->

{% endblock %}
